
 /* @import url(https://fonts.googleapis.com/css?family=Noto+Sans); */

 @import url(../res/AmazonEmber_Lt.ttf);
 
 html, body {
     height: 100%;
     width: 100%;
     margin: 0;
 }

 body {
   margin: 0;
   padding: 10px;
   font-size: 100%;
   font-family: "Amazon Ember", sans-serif;
   font-weight: 100;
   color: #eee9dc;
   background:#232F3E;
   overflow: hidden;
   box-sizing: border-box;
 }
 
 h2 {
   margin: 0.5em 0 0 0;
   font-size: 3em;
   font-weight: 200;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FF9900;
   text-align: center;
   transition: all 1s;

 }
 
 /* -------------------------------------
  * timeline
  * ------------------------------------- */
 #timeline {
   list-style: none;
   /* margin: 120px 0 0; */
   padding: 0;
   border-top: 2px solid #eee9dc;
   display: table;
   border-spacing: 30px 0;
   max-width: 95%;
 }
 #timeline li {
   display: table-cell;
   width: 100px;
 }
 #timeline li .relative {
   position: relative;
 }
 #timeline p {
   margin: 0 0 15px;
 }
 
 .date {
   text-align: center;
   top: -55px;
   left: 0;
   right: 0;
   font-size: 0.95em;
   line-height: 20px;
   position: absolute;
 }
 
 .circle {
   margin: 0 auto;
   top: -10px;
   left: 0;
   right: 0;
   width: 10px;
   height: 10px;
   background: #424242;
   border: 3px solid #eee9dc;
   border-radius: 50%;
   display: block;
   position: absolute;
   cursor: pointer;
 }
 
 .content {
   width: 100px;
   max-height: 0;
   margin-top: 15px;
   vertical-align: top;
   padding: 10px 10px 10px;
   border-width: 2px;
   border-style: solid;
   border-radius: 0.5em;
   position: relative;
   transition: display 2s;
 }
 .content:before, .content:after {
   content: "";
   width: 0;
   height: 0;
   border: solid transparent;
   position: absolute;
   pointer-events: none;
   bottom: 100%;
 }
 .content:before {
   border-bottom-color: inherit;
   border-width: 15px;
   left: 50%;
   margin-left: -15px;
 }
 .content:after {
   border-bottom-color: #424242;
   border-width: 12px;
   left: 50%;
   margin-left: -12px;
 }
 .content p {
   max-height: 0;
   color: transparent;
   text-align: justify;
   word-break: break-word;
   hyphens: auto;
   overflow: hidden;
 }
 
 label {
   font-size: 1.3em;
   position: absolute;
   z-index: 100;
   cursor: pointer;
   width: 200px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   display: block;
   top: 60px;
   left: 15px;
 }
 
 .radio {
   display: none;
 }
 
 .radio:checked + .relative label {
   cursor: auto;
   width: 400px;
   transition: width 0.3s linear 0.2s;
 }
 .radio:checked + .relative .circle {
   background: #f45b5b;
 }
 .radio:checked ~ .content {
   max-height: 180px;
   border-color: #eee9dc;
   width: 400px;
 }
 .radio:checked ~ .content p {
   max-height: 200px;
   color: #eee9dc;
   transition: color 0.3s linear 0.3s;
 }
 
 .form-editor {
   display: flex;
   width: 90%;
   padding: 10px;
   justify-content: space-around;
   align-items: center;
   
 }
 
 .form-editor > .step-button {
   background: transparent;
   width: 30px;
   height: 30px;
   border: 1px solid white;
   font-size: 20px;
   color: white;
 }
 
 .form-editor > .step-button:hover {
   border-color: orange;
   cursor: pointer;
   color: tomato;
 }
 
 .form-editor > .budget-input {
   width: auto;
   height: 25px;
   margin-left: auto;
   margin-right:auto;
   font-size: 20px;
   
 }

.default-hidden {
    display:none
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display:none;

}

.container > .graph-container {
    padding: 10px;
    width: 100%;
    height: 90%;
    margin:5px;
    box-sizing: border-box;
    transition: height 0.5s;
}

.container > .budget-container {
    padding: 10px;
    width: 100%;
    height: 30%;
    margin:5px;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /* transition: height 1s; */

}
 #timeline-container.budget-container {
    display: none;
}

.actions-button > #actions-button {
    text-align: right;
}

 #actions-button {
    position: relative;
    /* top: -90px; */
    font-size: smaller;
    color: #FF9900;
    text-align: center;
    cursor:pointer;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;
    text-transform: uppercase;
}

#actions-button:hover {
    border-color: #55BF3B
}

#actions-button:active {
    text-align: right;
}

.charts-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    background: transparent;
    box-sizing: border-box;
}

.loading {
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #232F3E;
    opacity: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #E0E0E3;
    box-sizing: border-box;
    font-weight: 200;

}

#loader-count {
    font-size: 60px;
    color: #f45b5b;
    margin-bottom: 80px;
}

.loading > .loader-text {
    margin-bottom: 80px;
}